.splineWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

/* Mobile */
@media (max-width: 640px) {
  .splineWrapper {
    width: 160vw;
    height: 80vh;
  }
}
