.container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--color-gray-50);
  color: var(--color-gray-950);
  height: 100%;
}

@media (max-width: 640px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
  }

  .userPanel {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }  
}

.userPanel {
  border: 1px solid var(--card-border);
  display: flex;
  min-width: max-content;
  color: var(--card-text);
  background-color: var(--card-bg);
  height: 100%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border: 1px solid var(--color-gray-400);
  width: fit-content;
  min-height: 20rem;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--color-gray-50);
  border-radius: 10px;
  color: var(--color-gray-950);
  box-shadow: 0 8px 20px rgba(0,0,0, 0.1);

  font-weight: 330;
}

.actions {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--card-border);
}

.greetings {
  margin: 0 0 0 1rem;
}

.cart {
  background-color: var(--card-bg);
  border-radius: 10px;
  border: 1px solid var(--card-border);
  color: var(--card-text);
  box-shadow: 0 8px 20px rgba(0,0,0, 0.06);
  padding: 1rem;
  margin: 0.2rem 1rem;
  font-size: 0.75rem;
}

.orders {
  font-size: 1rem;
  background-color: var(--card-bg);
  border-radius: 10px;
  border: 1px solid var(--card-border);
  padding: 1rem;
  margin: 0.2rem 1rem;
  min-height: 20rem;
  color: var(--card-text);
}

.storePanel {
  border: 1px solid var(--card-border);
  width: 20rem;
  height: 25rem;
  padding: 1rem;
  background-color: var(--card-bg);
  color: var(--card-text);
  border-radius: 10px;
  display: block;
   box-shadow: 0 8px 20px rgba(0,0,0, 0.06);
}
.storePanel h1 {
  text-align: center;
  margin-top: 1rem;
  border: none;
}

.start {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);

  width: 10rem;
  height: 2rem;

  border-radius: 10px;
  border: none;
  background-color: var(--color-blue);
  color: var(--color-gray-950);
  transition: 0.12s ease;

  &:hover {
    cursor: pointer;
    filter: brightness(0.95);
    box-shadow: 0 8px 20px rgba(0,0,0, 0.12);
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.storeSide {
  display: flex;
  justify-content: center;
  border: 1px solid var(--color-gray-400);  
  height: fit-content;
  width: 100%;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  border: 1px solid red;
  align-items: center;
}

.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.Label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-gray-950);
}

.Input {
  box-sizing: border-box;
  padding-left: 0.875rem;
  margin: 0;
  border: 1px solid var(--color-gray-200);
  width: 100%;
  height: 2.5rem;
  border-radius: 0.375rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: var(--color-gray-100);
  color: var(--color-gray-900);

  &:focus {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }
}

.Error {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-red-800);
}

.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 7rem;
  padding: 0 0.875rem;
  margin: 0;
  outline: 0;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  background-color: var(--color-gray-50);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--color-gray-900);
  user-select: none;

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: var(--color-gray-100);
      cursor: pointer;
    }
  }

  &:active:not([data-disabled]) {
    background-color: var(--color-gray-200);
    box-shadow: inset 0 1px 3px var(--color-gray-200);
    border-top-color: var(--color-gray-300);
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }

  &[data-disabled] {
    color: var(--color-gray-500);
  }
}

.store_info_container {
  text-decoration: none;
  color: var(--color-gray-950);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: .5rem;
}

.store_img {
  width: 14rem;
  border-radius: 50%;
  transition: .3s;
    &:hover {
      width: 15rem;
      border-radius: 10px;
    }
}
