.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 730;
    font-style: normal;
    background-color: var(--card-login-bg);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Fieldset {
  background-color: var(--card-bg);
  border-radius: 20px;
  border: 0;
  margin: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  max-width: 24rem;
}

.Legend {
  border-bottom: 1px solid var(--color-gray-200);
  padding-bottom: 0.75rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.0025em;
  color: var(--color-gray-950);
}

.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.Label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-gray-950);
}

.Input {
  box-sizing: border-box;
  padding-left: 0.875rem;
  margin: 0;
  border: 1px solid var(--color-gray-200);
  width: 100%;
  height: 2.5rem;
  border-radius: 0.375rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
  color: var(--color-gray-50);

  &:focus {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }
}

.Error {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-red);
}

.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0 0.875rem;
  margin: 1rem;
  outline: 0;
  border: none;
  border-radius: 0.375rem;
  background-color: var(--color-gray-50);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--color-gray-900);
  user-select: none;
  transition: 0.2s;
    &:hover {
        background-color: var(--color-gray-100);
        cursor: pointer;
    }
}

p {
  color: var(--color-gray-75);
}

.link {
  text-decoration: none;
  color: var(--color-gray-100);
}

.passwordContainer {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  gap: .5rem;
}

.passFields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  /* border: 1px solid red; */
}

.passwordToggle {
  background-color: transparent;
  border: none;
  /* border: 1px solid blue; */
  &:hover {
    cursor: pointer;
  }
}