.footer {
    margin-top: auto;
    width: 100%;
    background-color:var(--color-gray-50);
    padding: 1rem;

    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--color-gray-800);
}
.footer li {
    margin-left: 1.2rem;
}

.panel {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.right {
    margin-right: 2rem;
}

.copyright {
    margin-top: 1rem;
    text-align: center;
    color: var(--color-gray-800);
}