.container {
    background-color: var(--color-gray-50);
    padding: 1rem;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: space-between;
} 

.title {
    font-size: 2rem;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 730;
    font-style: normal;
    color: var(--color-gray-800);
}

.options {
    display: flex;
    gap: 1rem;
    align-items: center;
     color: var(--color-gray-800);
}

.link {
    text-decoration: none;
    font-weight: 500;
    color: var(--color-gray-800);
}

.button {
    border: none;
    cursor: pointer;
    background:none;
     color: var(--color-gray-800);
}