.container {
    background-color: #f5f5f5;
    padding: 1rem;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: space-between;
} 

.title {
    font-size: 2rem;
    color: #333;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 730;
    font-style: normal;
}

.options {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.button {
    border: none;
    cursor: pointer;
}