.card {
  border: 1px solid #000;
  border-radius: 6px;
  max-width: 24rem;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  text-align: center;
}

.productImage {
  width: 17rem;
  object-fit: cover;
}

.buyNstock {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}