.card {
  border: 1px solid #000;
  border-radius: 6px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.productImage {
  width: 17rem;
  object-fit: cover;
}