.card {
  border: 1px solid var(--color-gray-50);
  border-radius: 6px;
  width: 24rem;
  height: 36rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: .5rem 1rem;
  text-align: center;
  gap: 0.5rem;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.productImage {
  height: 17rem;
  object-fit: contain;
}

.buyNstock {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
  margin: .5rem 0;
}

.Label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-gray-50);
}

.Input {
  box-sizing: border-box;
  padding-left: 0.875rem;
  margin: 0;
  border: 1px solid var(--color-gray-200);
  width: 100%;
  height: 2.5rem;
  border-radius: 0.375rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
  color: var(--color-gray-50);

  &:focus {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }
}

.Error {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-red);
}

.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: .5rem 1rem;
  margin: 1rem;
  outline: 0;
  border: none;
  border-radius: 0.375rem;
  background-color: var(--color-gray-50);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--color-gray-900);
  user-select: none;
  transition: 0.2s;
    &:hover {
        background-color: var(--color-gray-100);
        cursor: pointer;
    }
}

.buttons {
  display: flex;
  justify-content: center;
}
