.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: color 0.3s;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  color: var(--text);
}

.toggleButton:hover {
  color: var(--primary-dark);
}

@media (max-width: 640px) {
  .toggleButton svg {
    width: 1.3rem;
    height: auto;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .toggleButton svg {
    width: 3rem;
    height: auto;
  }
}
